<!DOCTYPE html>
<html
      th:lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, description, author, type, slug, image, main, navbarEntries)">
<head th:replace="head-fragment :: head(
    ${title},
    ${description},
    ${author},
    ${type},
    ${slug},
    ${image})">
<body>
<header th:replace="navbar-fragment :: nav(${navbarEntries})"></header>

<th:block th:replace="${main}" />

<footer class="container">
    <p>&copy; 2025 Your Name</p> <!-- TODO CHANGE to use properties-->
</footer>
</body>
</html>
