<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(
      ${metadata.title},
      ${metadata.description},
      ${metadata.author},
      'website',
      ${metadata.slug},
      null,
      ~{::main},
    ${navbarEntries})">

<th:block th:fragment="main">
    <div class="container">
        <section th:utext="${content}"></section>
    </div>

    <ul class="container" th:each="link: ${links}">
        <li style="list-style-type: none;">
            <article>
                <h6><a th:href="${link.href}" th:text="${link.title}"></a></h6> <!-- to be fixed to th:href="@{${link.href}}"  -->
                <small th:text="${link.description}"></small>
                <p>
                    <i>
                        <small>#tags: </small> <small th:text="${#strings.setJoin(link.tags, ', ')}"></small>
                    </i>
                </p>
            </article>
        </li>
    </ul>
</th:block>