<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(
    'Personal Projects',
    'This section contains all the personal projects',
    'Author',
    'Website',
    ${metadata.slug()},
    null,
    ~{::main},
    ${navbarEntries})">
<th:block th:fragment="main">
    <div class="container">
        <p>The following are projects are worked on. Please check the tags for the relevant technologies/approaches
            used.</p>
        <p>Feedback is always welcome! Please contact me through my socials.</p>
    </div>

    <ul class="container" th:each="link: ${links}">
        <li style="list-style-type: none;">
            <article>
                <h6><a th:href="@{${link.href}}" th:text="${link.title}"></a></h6>
                <small th:text="${link.description}"></small>
                <p>
                    <i>
                        <small>#tags: </small> <small th:text="${#strings.setJoin(link.tags, ', ')}"></small>
                    </i>
                </p>
            </article>
        </li>
    </ul>
</th:block>