<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="head-fragment :: head(
    'Blog Posts',
    'This section contains all the blog posts',
    'Author',
    'Website',
    ${metadata.slug()},
    null)">

<body>
<header th:insert="navbar-fragment :: nav"></header>

<div class="container">
    <p>Welcome to the blog! Here you’ll find a collection of posts covering everything from tutorials and personal
        projects to thoughts on technology, creativity and just random things that pop into my head.</p>
    <p>Feel free to browse through the latest entries below:</p>
</div>

<ul class="container" th:each="link: ${links}">
    <li style="list-style-type: none;">
        <article>
            <h6>
                <a th:href="@{${link.href}}" th:text="${link.title}"></a>
                <small> -
                    <time th:text="${link.date}"></time>
                </small>
            </h6>
            <small th:text="${link.description}"></small>
            <p>
                <i>
                    <small>#tags: </small> <small th:text="${#strings.setJoin(link.tags, ', ')}"></small>
                </i>
            </p>
        </article>
    </li>
</ul>

</body>
</html>
